@model IEnumerable<MVCFinalProject.Models.Login>

@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Users</h2>

        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.User.FirstName)

                        </th>

                        <th>

                            @Html.DisplayNameFor(model => model.User.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>

                        <th></th>
                    </tr>                   
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>

                            <td>

                                <a class="btn btn-primary" asp-action="DetailsUsers" asp-route-id="@item.Email">Details</a>
                                <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@item.Email">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>