@model IEnumerable<MVCFinalProject.Models.Login>

@{
    ViewData["Title"] = "AllChefs";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}




<div class="card">
    <div class="card-body">
        <h4 class="card-title">AllChefs</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.User.Gender)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            
            <td>               
                <a class="btn btn-primary" asp-action="ChefRecipes" asp-route-id="@item.User.Id" >Show Recipes</a>                 
            </td>
        </tr>
}
    </tbody>
</table>
   </div>
  </div>
</div>