@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "AllRecipes";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}



<div class="card">
    <div class="card-body">
       <h4 class="card-title">All Recipes @Model.Count()</h4>
       <p>
            <a class="btn btn-primary" asp-action="CreateRecipe">Add new recipe</a>
       </p>
        <form asp-action="AllRecipes" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search ">
            
            <input type="text" name="name" class="form-control-sm mx-2" placeholder="Type recipe "/>
            <input type="submit" class="btn btn-primary mx-2"/>
           
        </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeImg)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
        <tr>
            <td>
                 @item.Name
            </td>
            <td>
                   @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>

                    @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Description) 
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td><img src="@Url.Content("~/Images/"+item.RecipeImg)" /></td>
              
          </tr>
}
        </tbody>
      </table>
    </div>
  </div>
</div>