@model IEnumerable<MVCFinalProject.Models.Recipe>

@{
    ViewData["Title"] = "ChefRecipes";
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}

<h1>ChefRecipes</h1>


<table class="table">
    <thead>
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
                <td><img src="@Url.Content("~/Images/"+item.RecipeImg)" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
         
                     
        </tr>
}
          
    </tbody>
</table>
<br />
<p>
    <a class="btn btn-outline-primary" asp-action="AllChefs" asp-controller="Chef">Back</a>
</p>